<div class="page-header">
  <h1><%= @user.full_name %>'s Action List</h1>
</div>

<table class="table">

  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Address</th>
    <th>Follow Up Actions</th>
    <th>Edit</th>
  </thead>

  <tbody>
    <tr>
    <% @clients.each do |client| %>
      <td><%= client.first_name %></td>
      <td><%= client.last_name %></td>
      <td><%= client.email %></td>
      <td><%= client.phone_number %></td>
      <td><%= client.fill_street %></td>
      <td><%= link_to "Add Follow Up Action", new_follow_up_path %></td>
      <td><%= link_to "Edit Client", edit_user_client_path(@user.id, client) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
